TradeServices/UnicomWeb/Service References/LocationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TradeServices.Models" />
  <xs:element name="GetTestString">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTestStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTestStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveRoutes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TradeServices.Models" minOccurs="0" name="GetAllActiveRoutesResult" nillable="true" type="q1:ArrayOfRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeTripDate" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TradeServices.Models" minOccurs="0" name="GetRouteTripResult" nillable="true" type="q2:ArrayOfRouteTripEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeTripDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="routeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TradeServices.Models" minOccurs="0" name="GetCheckInResult" nillable="true" type="q3:ArrayOfModelOutletCheckInEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationTraking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeTripDate" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="routeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationTrakingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TradeServices.Models" minOccurs="0" name="GetLocationTrakingResult" nillable="true" type="q4:ArrayOfModelRouteTripEx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>